tasks/module4/src/main/resources/warehouses_xsd_schema.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="warehouses">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="warehouse" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="warehouse">
        <xs:sequence>
            <xs:element name="capacity" type="capacity"/>
            <xs:element name="cargo_weight" type="cargo_weight"/>
            <xs:element name="terminals_count" type="terminals_count"/>
        </xs:sequence>
        <xs:attribute name="id" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:integer"/>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <xs:simpleType name="load_status">
        <xs:restriction base="xs:integer"/>
    </xs:simpleType>

    <xs:simpleType name="capacity">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="cargo_weight">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="terminals_count">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="warehouse" type="warehouse"/>

</xs:schema>