tasks/module3/src/test/resources/devices_xsd_schema.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified"
           targetNamespace="http://www.example.org/devices"
           xmlns:tns="http://www.example.org/devices"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="devices">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tns:device" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="device">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="origin" type="xs:string"/>
            <xs:element name="price" type="tns:price"/>
            <xs:element name="types" type="tns:types"/>
        </xs:sequence>
        <xs:attribute name="id" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:ID">
                    <xs:pattern value="[A-Za-z0-9]+"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="critical" default="false">
            <xs:simpleType>
                <xs:restriction base="xs:boolean"/>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="types">
        <xs:sequence>
            <xs:element name="group" type="xs:string"/>
            <xs:element name="port" type="tns:port"/>
        </xs:sequence>
        <xs:attribute name="peripheral" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:boolean"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="cooler" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:boolean"/>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="processor">
        <xs:complexContent>
            <xs:extension base="tns:device">
                <xs:attribute name="consumption" type="tns:consumption" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="motherboard">
        <xs:complexContent>
            <xs:extension base="tns:device">
                <xs:attribute name="RAM_ports" type="tns:RAM_ports" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="mouse">
        <xs:complexContent>
            <xs:extension base="tns:device">
                <xs:attribute name="buttons" type="tns:button" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:simpleType name="price">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="consumption">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="port">
        <xs:restriction base="xs:string">
            <xs:enumeration value="COM"/>
            <xs:enumeration value="USB"/>
            <xs:enumeration value="LPT"/>
            <xs:enumeration value="HDMI"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="RAM_ports">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="14"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="button">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="14"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="device" type="tns:device"/>
    <xs:element name="processor" type="tns:processor" substitutionGroup="tns:device"/>
    <xs:element name="motherboard" type="tns:motherboard" substitutionGroup="tns:device"/>
    <xs:element name="mouse" type="tns:mouse" substitutionGroup="tns:device"/>

</xs:schema>